@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Serif&family=Phudu&family=Raleway&family=Roboto+Condensed&display=swap");
/* 1 */
body {
  background-color: whitesmoke;
  font-family: "Raleway";
}
/* 10 */
.header,
.footer,
.header__dropdown-button,
.section form {
  color: whitesmoke;
}
/* 10 */
.header,
.footer {
  background-image: linear-gradient(180deg, black, gray);
}
/* 10 */
.header,
.footer,
.wrapper,
.section__form__button {
  width: 100%;
}
/* 10 */
.header__dropdown-button,
.header,
.section {
  font-size: 1.2rem;
}
/* 11 */
.header__dropdown-button,
.section h1,
.section h4,
.section__article--mod {
  font-weight: 700;
}
/* 11 */
.section h1,
.section__image,
.footer,
.section__form__heading {
  text-align: center;
}
/* 11 */
.header__dropdown-button,
.header__dropdown-content a,
.header__item,
.section__form--spec {
  font-family: "Roboto Condensed";
}
/* 11 */
.section h1,
.section h4,
.section__form__heading {
  font-family: "Dancing Script";
}
/* 31 */
.header__dropdown:hover .header__dropdown-content,
.header__dropdown-content a,
.section form,
.section__form__button {
  border: 1px solid black;
}
/* 10 */
.header__dropdown-button,
.section__form__button {
  background-color: #4caf50;
}
/* 10 */
.header {
  position: fixed;
  display: flex;
}
/* 10 */
.header__dropdown {
  position: relative;
  display: inline-block;
}
/* 10 */
.header__dropdown-button {
  padding: 50%;
  border: none;
  cursor: pointer;
}
/* 10 */
.header__dropdown-content {
  z-index: 1;
  position: absolute;
  display: none;
  min-width: 350px; /* Не працює, якщо задаю у % */
}
/* 20 */
.header__dropdown-button:hover {
  background-color: #407a42;
  transition: 1s;
}
/* 30 */
.header__dropdown:hover .header__dropdown-content {
  display: block;
  background-color: #f1f1f1;
}
/* 10 */
.section__item,
.section__item--mod,
.section__article p {
  text-indent: 5%;
}
/* 10 */
.section__article--spec,
.header__item {
  font-style: italic;
}
/* 11 */
.header__dropdown-content a {
  display: block;
  padding-left: 5%;
  color: black;
  font-size: 1.2rem;
  line-height: 200%;
  text-decoration: none;
}
/* 10 */
.header__item {
  padding-left: 75%;
  line-height: 300%;
}
/* 10 */
.header__image {
  padding-left: 2%;
}
/* 10 */
.section {
  padding: 75px 5% 50px 5%;
}
/* 10 */
.section__article {
  width: 70%;
}
/* 11 */
.section h1 {
  font-size: 5rem;
}
/* 10 */
.section--flex {
  display: flex;
}
/* 11 */
.section h4,
.section__form__heading {
  font-size: 2rem;
}
/* 11 */
.section ul {
  width: 60%;
}
/* 10 */
.section__image {
  margin: 0 auto;
}
/* 11 */
.section__item,
.section__item--mod,
.section form {
  padding: 5%;
}
/* 11 */
.section form {
  margin-top: 15%;
  font-size: 1.5rem;
  background-image: linear-gradient(180deg, #4caf50, #407a42);
}
/* 10 */
.section__form--spec {
  font-size: 1.7rem;
  line-height: 150%;
  padding-top: 5%;
}
/* 10 */
.section__item {
  margin: 0 0 5% 5%;
  font-size: 1rem;
  border: 1px dotted black;
}
/* 10 */
.section__item--mod {
  width: 70%;
}
/* 10 */
.section__form__button {
  font-family: "Phudu";
}
/* 10 */
.footer {
  position: fixed;
  bottom: 0;
}
