body {
  background-color: whitesmoke;
}
.header,
footer,
.header__dropdown-button {
  color: white;
}
.header,
footer {
  background-image: linear-gradient(180deg, black, gray);
}
.header,
.footer,
.wrapper {
  width: 100%;
}
.header {
  font-size: 1.5rem;
  text-align: center;
  line-height: 200%;
  position: fixed;
  display: flex;
}
.header__dropdown {
  position: relative;
  display: inline-block;
}
.header__dropdown-button {
  background-color: #4caf50;
  padding: 50%;
  border: none;
  cursor: pointer;
}
.header__dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.header__dropdown:hover .header__dropdown-content {
  display: block;
  background-color: #f1f1f1;
}
.header__dropdown-content a {
  text-decoration: none;
  display: block;
}
.wrapper {
  position: static bottom;
}
.section {
  padding: 100px 5% 50px 5%;
}
.section h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
.section_image {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
